@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.alegreya-sans-sc-thin {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .alegreya-sans-sc-light {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .alegreya-sans-sc-regular {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .alegreya-sans-sc-medium {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .alegreya-sans-sc-bold {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .alegreya-sans-sc-extrabold {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .alegreya-sans-sc-black {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .alegreya-sans-sc-thin-italic {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .alegreya-sans-sc-light-italic {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .alegreya-sans-sc-regular-italic {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .alegreya-sans-sc-medium-italic {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .alegreya-sans-sc-bold-italic {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .alegreya-sans-sc-extrabold-italic {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .alegreya-sans-sc-black-italic {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .carousel-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-card {
    min-width: 300px; /* You can adjust this based on your content */
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }